<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The podcast rec</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src='/javascripts/js.js' defer></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <nav>
    <h1 class="logo"><a href="/podcasts">The <span class="logo-bold">podcast</span> rec</a></h1>


    <ul>
      <li><a href="/podcasts/new" target="">Recommend a new show</a></li>
    </ul>
  </nav>

  <%= yield %>
  <footer>
  <p>Created by Shell. All podcasts details, and author credits can found via podcast links provided.</p>
  </footer>
</body>
</html>
