body {
  background-color: #f9f9f9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  width: 1000px;
  padding-top: 20px;
  padding-left: 5px;
  margin: auto;
}

.logo a {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 300;
  font-size: 32px;
}

.logo a:visited {
  color: black;
}

.logo.a:visited {
  color: black;
}

.logo-bold {
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f8a000;
  border-top: 1px solid #f8a000;
  width: 100%;
}

nav ul {
  padding: 0;
  display: flex;
}

nav li {
  list-style-type: none;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 5px 5px black;
  transition: ease-in-out 0.3s;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  background: #f8a000;
}

nav li:hover {
  box-shadow: 1px 1px black;
}

nav a {
  text-decoration: none;
}

.access-btns {
  display: flex;
}

.access-btns,
buttons {
  justify-content: left;
}

.user_auth {
  width: 160px;
  list-style-type: none;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 5px 5px black;
  transition: ease-in-out 0.3s;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  background: #f8a000;
  margin-bottom: 40px;
  text-decoration: none;
}

.user_auth a {
  text-decoration: none;
  transition: ease-in-out 0.3s;
  font-size: 14px;
}

.user_auth:hover {
  text-decoration: none;
  box-shadow: 2px 2px black;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

h4 {
  text-transform: uppercase;
  font-size: 18px;
}

.intro {
  margin: 40px 0 0 0;
  font-size: 20px;
}

.log-out-btn {
  display: grid;
  grid-template-columns: auto 1fr;
}

.log-out,
form {
  margin-top: 0px;
  justify-content: flex-end;
}

.log-out input {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  width: 160px;
  box-shadow: 3px 3px black;
  height: 40px;
  border-radius: 3px;
  border: 1px dotted black;
  text-align: center;
  text-transform: uppercase;
  transition: ease-in-out 0.3s;
  letter-spacing: 0.2em;
  margin-top: 20px;
}

.log-out input:hover {
  box-shadow: 1px 1px black;
}

.username {
  font-weight: 400;
  font-style: italic;
}

h3 {
  color: #f8a000;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
}

p {
  font-size: 17px;
}

a {
  font-size: 18px;
}

img {
  width: 100%;
  border-radius: 5px;
}

.podcast-listing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
}

.page-content h1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 28px;
  margin-top: 10px;
  letter-spacing: 0.08em;
  color: #f8a000;
}

.page-content {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  gap: 20px;
  margin-top: 100px;
}

.show-left > img {
  margin-top: 10px;
  width: 400px;
}

.synopsis,
h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.view-btn {
  color: #f8a000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 10px;
  letter-spacing: .08em;
  font-weight: 600;
  transition: ease-in-out .4s;
}

.view-btn:hover {
  letter-spacing: .15em;
  color: #F68FAD;
  font-weight: 700;
}

.back-to-menu {
  margin-top: 5px;
}

.like {
  width: 100%;
}

a:visited {
  color: none;
}

a:hover {
  color: none;
}

.like button {
  background-color: #F68FAD;
  border-radius: 60%;
  width: 100px;
}
button.heart {
  text-align: center;
  width: 110px;
  letter-spacing: .2em;
}

.like button:hover{
  background-color:#f8a000;  
  border-radius: 50%;
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-top: 40px;
}

form input {
  margin: 10px 0 20px 0;
  height: 40px;
  padding-left: 20px;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: inset 2px 2px black;
}

form button {
  font-family: Arial, Helvetica, sans-serif;
  width: 200px;
  box-shadow: 3px 3px black;
  height: 40px;
  border-radius: 6px;
  border: 1px dotted black;
  background-color: #f8a000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.6em;
  transition: ease-in-out 0.3s;
}

form button:hover {
  box-shadow: none;
}

form select {
  margin: 10px 0 20px 0;
  height: 40px;
  padding-left: 20px;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: inset 2px 2px black;
}

.new-show-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0px;
}

.new-show-form > img {
  margin-top: 60px;
}

.new-show-image {
  width: 400px;
  border: 1px solid black;
  padding: 20px;
  margin-left: 50px;
}

.update-btns {
  display: flex;
  margin-top: 20px;
}

.update-btns a {
  font-size: 14px;
  text-decoration: none;
}

.update-btns input {
  list-style-type: none;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 5px 5px black;
  transition: ease-in-out 0.3s;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  background: #f8a000;
  width: 120px;
  font-size: 14px;
}

.update-btns button {
  list-style-type: none;
  margin: 50px 0 0 0;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 5px 5px black;
  transition: ease-in-out 0.3s;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  background: #f8a000;
  width: 220px;
  padding: 0px;
  height: 40px;
  display: inline-block;
}

.update-show-btn {
  list-style-type: none;
  margin: 50px 0 0 0;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 20px;
  box-shadow: 5px 5px black;
  transition: ease-in-out 0.3s;
  border-radius: 4px;
  font-family: Helvetica, Arial, sans-serif;
  background: #f8a000;
  width: 160px;
  padding: 0px;
  height: 40px;
  display: inline-block;
}

.log-in-page > h1 {
  font-size: 28px;
  margin-top: 70px;
  color: #f8a000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.back-to-podcasts > .view-btn {
  margin-top: 40px;
}

.sign-up-page > h1 {
  font-size: 28px;
  margin-top: 70px;
  color: #f8a000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.edit-page > h1 {
  font-size: 28px;
  margin: 70px 0 50px 0;
  color: #f8a000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.recommend-content > h1 {
  font-size: 28px;
  margin: 70px 0 40px 0;
  color: #f8a000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.08em;
}


.like-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  justify-content: center;
  margin-top: -20px;
}

footer {
  margin: 200px 0 40px 0;
  border-top: 1px solid #f8a000;
}

footer > p {
  font-size: 15px;
  padding-top: 10px;
}

@media only screen and (max-width: 1024px) {
  body {
    width: 90%;
    margin-left: 0;
    padding-left: 20px;
    overflow-x: hidden;
  }
  .podcast-listing {
    width: 90vw;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
  }
  img {
    width: 100%;
  }
  .page-content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 40px;
  }

  .show-left > img {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 95%;
    margin: 0;
    padding-left: 20px;
    overflow-x: hidden;
  }
  .logo a {
    text-transform: uppercase;
    font-size: 1em;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  li {
    margin-left: 0px;
  }

  .podcast-listing {
    width: 90vw;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
  }
  img {
    width: 100%;
  }
  .log-in-page > form {
    width: 55%;
  }

  .log-in-age > h1 {
    font-size: 1.6em;
  }

  .sign-up-page > form {
    width: 55%;
  }

  .sign-up-page > h1 {
    width: 45%;
    font-size: 1.6em;
  }

  .new-show-form {
    display: flex;
    flex-direction: column;
  }

  .new-show-form > form {
    width: 55%;
  }

  .recommend-content > h1 {
    width: 45%;
    font-size: 1.6em;
  }

  .new-show-form > img {
    display: none;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 40px;
  }

  .show-left > img {
    width: 100%;
  }

  .edit-page > form {
    width: 55%;
  }

  .edit-page > h1 {
    width: 55%;
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 420px) {
  body {
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
    overflow-x: hidden;
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .user_auth,
  button {
    width: 132px;
  }

  .logo a {
    text-transform: uppercase;
    font-size: 1em;
    padding-left: 10px;
  }

  .podcast-listing {
    width: 90vw;
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr;
  }

  .log-in-page > form {
    width: 80%;
  }

  .sign-up-page > form {
    width: 80%;
  }

  .new-show-form {
    display: flex;
    flex-direction: column;
  }

  .new-show-form > form {
    width: 80%;
  }

  .new-show-form > img {
    display: none;
  }

  .page-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 40px;
  }

  .show-left > img {
    width: 100%;
  }

  .edit-page > form {
    width: 80%;
  }
}
