<main class="log-in-page">

  <h1>Log-in here</h1>

  <%= error_message %>

  <form action="/sessions" method="POST">

    <label for="email">Email:</label>
    <input type="email" name="email" />

    <label for="password">Password:</label>
    <input type="password" name="password" />

    <button>Log in</button>

  </form>

  <div class="back-to-podcasts">
  <br>
  <br>
    <a class="view-btn" href="/podcasts">Return to podcasts</a>
  </div>

</main>