
<h2>Welcome </h2>

<h3>Want to recommend a new ep?</h3>

<main class="podcast-listing">

  <section class="podcast">
    <img src="https://images.unsplash.com/photo-1584679109597-c656b19974c9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWxidW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">

    <h3>Podcast title</h3>
    <h4>Genre</h4>
    <h4>About:</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ad, ullam molestiae deserunt ratione recusandae voluptate vitae consequatur non dolorum accusamus alias, culpa facere eveniet modi beatae ut tenetur id.</p>
  </section>

  <section class="podcast">
    <img src="https://images.unsplash.com/photo-1584679109597-c656b19974c9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWxidW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">

    <h3>Podcast title</h3>
    <h4>Genre</h4>
    <h4>About:</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ad, ullam molestiae deserunt ratione recusandae voluptate vitae consequatur non dolorum accusamus alias, culpa facere eveniet modi beatae ut tenetur id.</p>
  </section>

  <section class="podcast">
    <img src="https://images.unsplash.com/photo-1584679109597-c656b19974c9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWxidW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
    <h3>Podcast title</h3>
    <h4>Genre</h4>
    <h4>About:</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ad, ullam molestiae deserunt ratione recusandae voluptate vitae consequatur non dolorum accusamus alias, culpa facere eveniet modi beatae ut tenetur id.</p>
  </section>
</main>