<main class="page-content">
  <h1>Recommend a new podcast</h1>

  <% if is_logged_in?() %>

  <section class="new-show-form">
    <form class="new-show" action="/podcasts" method="POST">

      <label for="podcast_title"> Name: </label>
      <input type="text" name="podcast_title"/>

      <label for="genre">Genre:</label>
      <input type="text" name="genre"/>

      <label for="image_url">Image:</label>
      <input type="text" name="image_url"/>

      <label for="about">About:</label>
      <input type="text" name="about"/>

      <label for="show_url">Link:</label>
      <input type="text" name="show_url"/>

      <% button_value = "Add show" %>
      <button>Add show</button>
  
    </form>
      <img class="new-show-image" src="https://images.unsplash.com/photo-1584679109597-c656b19974c9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YWxidW18ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">


    <% else %>
      <a href="/sign_up">Click here to sign up</a>
      <a href="/login">Click here to log in</a>

    <% end %>
   </section>
</main>