<main class="page-content">


  <h1><%= podcasts["podcast_title"]%></h1>

  <img src="<%=podcasts["image_url"] %>" alt="">

  <h4>Genre: <%= podcasts["genre"]%></h4>


  <h3>About: </h3>
  <p><%= podcasts["about"]%></p>

</main>